.markdownContent h1 {
    font-size: 1.6em;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 1em;
}

.markdownContent h2 {
    font-size: 1.4em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: .5em;
}

.markdownContent h3 {
    font-size: 1.2em;
    font-weight: 500;
    margin-top: 0em;
    margin-bottom: .5em;
}

.markdownContent ul {
    list-style-type: disc;
    padding-left: 2em;
    padding-bottom: .7em;
}

.markdownContent ol {
    list-style-type: decimal;
    padding-left: 2em;
    margin-bottom: 1em;
}

.markdownContent p {
    margin-bottom: .5em;
}